<% if resource.errors.present? %>
  <div style="color: red">
    <h3>Ошибки:</h3>
    <ul>
    <% resource.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
