<%= page_header(t('.header')) %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center text-muted mb-5">
    <%= tag.h5 @category.title %>
  </div>
  <div class="col-md-12 text-center m-2">
    <%= tag.img src: @category.image, style: 'height: 300px', class: 'bg-gray rounded-circle' %>
  </div>
  <div class="col-md-12 text-center mt-5">
    <%= link_to t('.back'), admin_categories_path, class: 'small' %>
  </div>
</div>
