$cyan2: #99e9f2;
$cyan4: #3bc9db;
$cyan6: #15aabf;

.bg-cyan2 { background-color: $cyan2; }
.bg-cyan4 { background-color: $cyan4; }
.bg-cyan6 { background-color: $cyan6; }

.br-cyan2 { border-color: $cyan2; }
.br-cyan4 { border-color: $cyan4; }
.br-cyan6 { border-color: $cyan6; }
