$cyan2: #99e9f2;
$cyan4: #3bc9db;
$cyan6: #15aabf;
$cyan8: #0c8599;

$pink2: #fcc2d7;
$pink4: #f783ac;
$pink6: #e64980;
$pink8: #c2255c;

$lime2: #d8f5a2;
$lime4: #a9e34b;
$lime6: #82c91e;
$lime8: #66a80f;

.bg-cyan2 { background-color: $cyan2; }
.bg-cyan4 { background-color: $cyan4; }
.bg-cyan6 { background-color: $cyan6; }

.br-cyan2 { border-color: $cyan2; }
.br-cyan4 { border-color: $cyan4; }
.br-cyan6 { border-color: $cyan6; }

.bg-lightgray { background-color: lightgray }
.bg-gray { background-color: gray }
