.alert-danger {
  color: $pink8;
  background-color: $pink2;
  border-color: $pink2;
}

.alert-info {
  color: #0c8599;
  background-color: #99e9f2;
  border-color: #99e9f2;
}

.alert-success {
  color: #66a80f;
  background-color: #d8f5a2;
  border-color: #d8f5a2;
}
