<p>Добро пожаловать, <%= @email %>!</p>
<p>Вы можете подтвержить эл.почту по следующей ссылке:</p>
<p><%= link_to 'Подтвердить учётную запись', confirmation_url(@resource, confirmation_token: @token) %></p>
