<p>Привет, <%= @resource.email %></p>

<p>Кто-то запросил ссылку на смену вашего пароля. Вы сможете изменить его по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали восстановление, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не будет изменён, пока вы не перейдёте по ссылке и не укажите новый пароль.</p>
