<p>Привет, <%= @resource.email %></p>

<p>Ваша учётная запись была заблокирована из-за чрезмерного количества неудачных попыток входа.</p>

<p>Чтобы разблокировать учётную запись используйте следующую ссылку:</p>

<p><%= link_to 'Разблокировать учётную запись', unclock_url(@resource, unlock_token: @token) %></p>
