<h1>Тесты</h1>
<table>
  <tr>
    <th>
      Категория
    </th>
    <th>
      Название
    </th>
    <th>
      Сложность
    </th>
    <th>
      Вопросов
    </th>
    <th colspan="3">
      Действия
    </th>
  </tr>
  <%= render @tests %>
</table>
<br>
<%= link_to 'Создать тест', new_test_path %>
