<header>
  <table class="admin_nav">
    <tr>
      <td class="nav_logo">
        <%= link_to 'TestGuru', root_path %>
        <span><%= t('.administration') %></span>
      </td>
      <td class="nav_action">
        <%= render 'layouts/user_navigation' %>
      </td>
    </tr>
  </table>
  <div>
    <%= flash_messages %>
  </div>
</header>
