<header>
  <nav class="navbar">
    <%= link_to 'TestGuru', root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <%= render 'layouts/user_navigation' %>
    </ul>
  </nav> 
</header>
