<footer id="footer" class="">  
  <div class="container text-center">
    <p>
      <%= current_year %>. <%= github_url(title: :TestGuru, author: :rusdec, repo: 'test_guru') %>
    </p>
    <p class="small">Приложение, призванное помочь в организации тестирования знаний на всех этапах. Начиная от составления самих тестов, затем проведение тестирования, оценивание и оповещение о результатах, заканчивая статистическими графиками для анализа различных данных о прошедших тестированиях.</p>
    <p class="small"><%= thinknetica_url('"Учебный проект в онлайн-школе Thinknetica"') %>
  </div>
</footer>
